openapi: 3.0.0
info:
  title: FitCommunity Monolith API (PROD)
  description: Продуктовое API. Не содержит отладочных ручек.
  version: 1.0.0
servers:
  - url: https://api.fitcommunity.com
    description: Production server
tags:
  - name: User
  - name: Training
  - name: Post
  - name: Group
  - name: Subscription
  - name: Recommendation
paths:
  /users/register:
    post:
      tags: [User]
      summary: Регистрация нового пользователя
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '201':
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400': { description: Неверные данные }
        '409': { description: Email уже существует }
        '500': { description: Внутренняя ошибка сервера }
  /users/login:
    post:
      tags: [User]
      summary: Аутентификация
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, example: "user@example.com" }
                password: { type: string, example: "123456" }
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: JWT токен }
        '401': { description: Неверные учётные данные }
  /users/me:
    get:
      tags: [User]
      summary: Получить профиль текущего пользователя
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Профиль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401': { description: Не авторизован }
    patch:
      tags: [User]
      summary: Обновить профиль (вес, цели, имя)
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                weight: { type: number, example: 72 }
                goal: { type: string, enum: [lose_weight, maintain, gain_muscle], example: maintain }
      responses:
        '200':
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400': { description: Ошибка валидации }
        '401': { description: Не авторизован }
  /trainings:
    post:
      tags: [Training]
      summary: Создать тренировку
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingCreateRequest'
      responses:
        '201':
          description: Тренировка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingResponse'
        '400': { description: Неверные данные }
        '401': { description: Не авторизован }
    get:
      tags: [Training]
      summary: История тренировок (с фильтрацией)
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
        - name: type
          in: query
          schema: { type: string, enum: [run, gym, yoga] }
      responses:
        '200':
          description: Список тренировок
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingResponse'
        '401': { description: Не авторизован }
  /trainings/{id}:
    get:
      tags: [Training]
      summary: Получить конкретную тренировку
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Данные тренировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingResponse'
        '401': { description: Не авторизован }
        '403': { description: Доступ запрещён (не своя тренировка) }
        '404': { description: Тренировка не найдена }
    delete:
      tags: [Training]
      summary: Удалить тренировку
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Удалено }
        '401': { description: Не авторизован }
        '403': { description: Недостаточно прав }
        '404': { description: Не найдено }
  /trainings/sync/garmin:
    post:
      tags: [Training]
      summary: Запустить синхронизацию с Garmin Connect
      security: [ { bearerAuth: [] } ]
      headers:
        Idempotency-Key:
          schema: { type: string, format: uuid }
          required: true
      responses:
        '202': { description: Синхронизация запущена асинхронно }
        '401': { description: Не авторизован }
        '409': { description: Синхронизация уже выполняется }
  /posts:
    post:
      tags: [Post]
      summary: Создать пост
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string, example: "Great run!" }
                training_id: { type: string, format: uuid }
      responses:
        '201':
          description: Пост создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'
        '401': { description: Не авторизован }
  /feed:
    get:
      tags: [Post]
      summary: Лента новостей
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Список постов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostResponse'
        '401': { description: Не авторизован }
  /posts/{id}/like:
    post:
      tags: [Post]
      summary: Поставить или убрать лайк (toggle)
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Лайк обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked: { type: boolean }
                  likes_count: { type: integer }
        '401': { description: Не авторизован }
        '404': { description: Пост не найден }
  /groups:
    post:
      tags: [Group]
      summary: Создать группу
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, example: "Morning Runners" }
                description: { type: string }
                type: { type: string, enum: [open, closed], default: open }
      responses:
        '201':
          description: Группа создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '401': { description: Не авторизован }
  /groups/{id}/join:
    post:
      tags: [Group]
      summary: Вступить в группу
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Вступление выполнено
          content:
            application/json:
              schema:
                type: object
                properties:
                  joined: { type: boolean }
        '401': { description: Не авторизован }
        '404': { description: Группа не найдена }
        '409': { description: Уже участник }
  /subscriptions:
    post:
      tags: [Subscription]
      summary: Оформить подписку
      security: [ { bearerAuth: [] } ]
      headers:
        Idempotency-Key:
          schema: { type: string, format: uuid }
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan: { type: string, enum: [monthly, yearly], example: monthly }
                payment_method: { type: string, example: card }
      responses:
        '201':
          description: Подписка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400': { description: Ошибка валидации }
        '401': { description: Не авторизован }
        '409': { description: Уже есть активная подписка }
  /subscriptions/me:
    get:
      tags: [Subscription]
      summary: Текущий статус подписки
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Статус подписки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '401': { description: Не авторизован }
  /recommendations/training:
    get:
      tags: [Recommendation]
      summary: Получить персональную рекомендацию тренировки
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Рекомендованная тренировка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingProgramPreview'
        '401': { description: Не авторизован }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegistrationRequest:
      type: object
      required: [email, password, name]
      properties:
        email: { type: string, format: email, example: "test@example.com" }
        password: { type: string, minLength: 6, example: "123456" }
        name: { type: string, example: "Test User" }
        weight: { type: number, example: 70 }
        goal: { type: string, enum: [lose_weight, maintain, gain_muscle], example: lose_weight }
    UserResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        name: { type: string }
    UserProfile:
      allOf:
        - $ref: '#/components/schemas/UserResponse'
        - type: object
          properties:
            weight: { type: number }
            goal: { type: string }
            avatar_url: { type: string }
    TrainingCreateRequest:
      type: object
      required: [type, duration]
      properties:
        type: { type: string, enum: [run, gym, yoga] }
        duration: { type: integer, minimum: 1, example: 3600 }
        distance: { type: number, example: 10.5 }
        start_time: { type: string, format: date-time }
    TrainingResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        duration: { type: integer }
        distance: { type: number }
        calories: { type: integer }
        start_time: { type: string, format: date-time }
        sync_status:
          type: string
          enum: [created, syncing, synced, failed]
    PostResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        content: { type: string }
        user_id: { type: string, format: uuid }
        likes_count: { type: integer }
        created_at: { type: string, format: date-time }
    GroupResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        type: { type: string }
        creator_id: { type: string, format: uuid }
    SubscriptionResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        plan: { type: string }
        status: { type: string, enum: [pending, active, expired, cancelled] }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
    TrainingProgramPreview:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        level: { type: string }
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
security: []